# Analyzing Farmburg's A/B Test
Brian is a Product Manager at FarmBurg, a company that makes a farming simulation social network game. In the FarmBurg game, you can plow, plant, and harvest different crops. â€‹Brian has been conducting an A/B Test with three different variants, and he wants you to help him analyze the results. Using the Python modules pandas and SciPy, you will help him make some important business decisions!

In [36]:
# import modules
import pandas as pd
import numpy as np

# Read 'click.csv' file as 'abdata' and inspect
abdata = pd.read_csv('clicks.csv')
abdata.head()

    user_id group is_purchase
0  8e27bf9a     A          No
1  eb89e6f0     A          No
2  7119106a     A          No
3  e53781ff     A          No
4  02d48cf1     A         Yes

## Contingency table for 'group' and 'is_purchase'

In [37]:
Xtab = pd.crosstab(abdata.group,abdata.is_purchase)
print(Xtab)

is_purchase    No  Yes
group
A            1350  316
B            1483  183
C            1583   83

## Perform Chi-Square test on contingency table

In [38]:
from scipy.stats import chi2_contingency
chi2,pval,dof,expected = chi2_contingency(Xtab)
print(pval)

2.4126213546684264e-35

### Number of visitors in the data and save the value in a variable named num_visits.

In [39]:
num_visits = len(abdata.user_id)
print(num_visits)

4998

In [40]:
# Number of sales that would be needed to reach $1000
num_sales_needed_099 = 1000/0.99

# Proportion of weekly visitors who would need to make a purchase
p_sales_needed_099 =  num_sales_needed_099/num_visits
print(p_sales_needed_099)

0.20210104243717691

In [41]:
# Number of sales that would be needed to reach $1000
num_sales_needed_199 = 1000/1.99
# Proportion of weekly visitors who would need to make a purchase
p_sales_needed_199 = num_sales_needed_199/num_visits
print(p_sales_needed_199)

0.10054272965467594

In [42]:
# Number of sales that would be needed to reach $1000
num_sales_needed_499 = 1000/4.99
# Proportion of weekly visitors who would need to make a purchase
p_sales_needed_499 = num_sales_needed_499/num_visits
print(p_sales_needed_499)

0.040096198800161346

# Calculate sample size and sales for 0.99 price point

In [43]:
samp_size_099= np.sum(abdata.group == 'A')
print(samp_size_099)

sales_099 = np.sum((abdata.group == 'A') & (abdata.is_purchase == 'Yes'))
print(sales_099)

1666
316

# Calculate sample size and sales for 1.99 price point

In [44]:
samp_size_199 = np.sum(abdata.group == 'B')
print(samp_size_199)

sales_199 = np.sum((abdata.group == 'B') & (abdata.is_purchase == 'Yes'))
print(sales_199)

1666
183

# Calculate sample size and sales for 4.99 price point

In [46]:
samp_size_499 = np.sum(abdata.group == 'C')
print(samp_size_499)

sales_499 = np.sum((abdata.group == 'C') & (abdata.is_purchase == 'Yes'))
print(sales_499)

1666
83

## Perform binomial test'

In [47]:
from scipy.stats import binom_test

# pval A
pvalueA = binom_test(sales_099,n=samp_size_099,p=p_sales_needed_099, alternative = 'greater')
print(pvalueA)

0.9028081076188985

In [48]:
# pval B
pvalueB = binom_test(sales_199,n=samp_size_199,p=p_sales_needed_199, alternative = 'greater')
print(pvalueB)

0.11184562623739903

In [49]:
# pval C
pvalueC = binom_test(sales_499,n=samp_size_499,p=p_sales_needed_499, alternative = 'greater')
print(pvalueC)

0.027944826659907135

Group **C** is the only group where we would conclude that the purchase rate is significantly higher than the target needed to reach $1000 revenue per week.